# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/assets
/front-end/src/static/assets
/tmp

# dependencies
/node_modules
/wwwroot

# IDEs and editors
/.idea
.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
coverage.json
TestResults/

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

#Visual Studio Files
[Oo]bj
[Dd]ebug
[Bb]uild/
*.user
*.suo
#*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak
package-lock.json
.vs/
